body {
    background-image: url("wew.gif");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f8f9fa; 
    font-family: Arial, sans-serif; 
}
h1 {
    text-align: center;
    margin-top: 10%;
    color: white;
}
b {
    color: black;
    font-weight: bold;
}
p {
    text-align: center;
    margin-top: 2%;
    color: whitesmoke;
}

.navbar {
    margin-bottom: 20px; 
}
h1 {
    color: #343a40; 
    margin-bottom: 30px; 
}
.container1 {
    max-width: 600px;
    padding: 20px;
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 5% auto;
}
.form-label {
    font-weight: bold; 
}
.btn-primary {
    background-color: #007bff; 
    border: none; 
}
.btn-primary:hover {
    background-color: #0056b3; 
}
footer {
    text-align: center;
    justify-content: center;
    margin: 16%;
    color: white; 
}
p.lead {
    color: black;
}
.lead {
    text-align: center;
}