body {
    background-color: black; 
}
h1 {
    text-align: center;
    margin-top: 10%;
    color: white;
}
b {
    color: black;
    font-weight: bold;
}
p {
    text-align: center;
    margin-top: 2%;
    color: whitesmoke;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: 0;
}
.navbar {
    margin-bottom: 20px; 
}
h1 {
    color: white;  
}
.container1 {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 10% auto;
}
.form-label {
    font-weight: bold; 
}
.btn-primary {
    background-color: #007bff; 
    border: none; 
}
.btn-primary:hover {
    background-color: #0056b3; 
}
footer {
    text-align: center;
    margin-bottom: 0; 
    color: whitesmoke; 
    font-size: 20px;
}
p.lead {
    color: white;
}
.lead {
    text-align: center;
}
h1.text-center {
    color: white;
}
label.form-label {
    color: white;
}

.containerxv1 {
    background-color:black;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 20vh;
    margin: 5% auto;
}
.skill {
display: flex;
align-items: center;
}
.skill-name {
font-weight: bold;
width: 30%;
color: white;
}
.progress-bar {
width: 60%;
background-color: white;
border-radius: 5px;
overflow: hidden;
position: relative;
}
.progress {
height: 8px;
background-color: red;
}
.skill-percentage {
width: 10%;
text-align: right;
color: white;
}